body{background-color:#000}.margin-50{margin-left:50px}.big-title{font-size:7rem;color:yellow;font-family:cursive;position:absolute}.tutorial{text-align:center}.judul{padding:2%;font-size:50px;font-family:sans-serif;font-weight:900;background-color:#000;color:#fff}button{background-color:#000;color:#fff;border:none;padding:1% 10%;font-size:30px;border-radius:20px;margin-bottom:2%}button:hover{background-color:#fff;color:#000}.right{position:absolute;top:49%;right:30px;padding:4}.font-small{font-size:5rem}.font-purple{color:purple}.n-1{color:indianred}.n-2{color:navy}.n-3{color:orchid}.n-4{color:skyblue}.n-5{color:olive}.n-0{color:yellow}.n-win{font-family:cursive;background-color:beige}.win{color:lightgreen}h2{color:#fff;font-family:sans-serif}@media (max-width:900px){.big-title{font-size:3rem}.right{top:85%}}

h3 {
    color: gray;
    font-family: sans-serif;
}

.bg-black {
    background-color: white;
    color: black;
    padding: 0.5%;
}

a {
    display: none;
    text-decoration: none;
    color: white;
    background-color: black;
    width:fit-content;
    padding: 2% 5%;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 25px;
}

.top2 {
    top: 0;

}

.judul-level {
    text-align: center;
}

.levels {
    
    width: fit-content;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.levels-1 {
    display: none;
    width: fit-content;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}